#
# Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
#

RedirectMatch ^/$ http://ubos.net/

AliasMatch ^${appconfig.context}/[a-zA-Z0-9_]+/images/$ ${package.codedir}/index.php
Alias ${appconfig.contextorslash} /var/lib/ubos-repo/${appconfig.appconfigid}

<Location ${appconfig.contextorslash}>
    SetEnv DATADIR /var/lib/ubos-repo/${appconfig.appconfigid}
    SetEnv CONTEXT "${appconfig.context}"

    <IfModule php7_module>
        php_admin_value open_basedir ${appconfig.apache2.dir}:/tmp/:${package.codedir}:${appconfig.datadir}
    </IfModule>
</Location>

<Directory ${package.codedir}>
    Require all granted
</Directory>

<Directory /var/lib/ubos-repo/${appconfig.appconfigid}>
    Require all granted
    Options +Indexes
</Directory>
